# Assignment 4

**Please follow the instructions**

In [316]:
import datetime
import socket

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 4: Solutions by Nkem Mbachu') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 4: Solutions by Nkem Mbachu
Local Time: 2023-07-04 20:30:34
Computer ID: Nkem

# Objective

The goal of this project to extract World populattion by countries. 
Please extarct data from the following data sources: 

- List of independent and dependency countries: 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'. 
- List of UN recognized countries: 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

# ETL

Task 1:
- Read the first datasets and display the first 4 rows.
- Convert the data types accordingly (e.g., float, string, integer) and perform data cleaning if necessary.
- If the population is given in millions (e.g., Azerbaijan Population 10,000,000), divide it by 1,000,000 to represent it as 10.0.

Task 2:
- Read the second dataframe and display the first 4 rows.
- Adjust the data types of the second dataframe as needed.

Task 3:
- Merge dataframe 1 and dataframe 2 based on the country name. Ensure that the countries have the same name and can be merged together. You can use the following command: `pd.merge(df2, df1, on='Country', how='inner')`.

Task 4:
- Save the merged dataframe as a CSV file and submit it. Include only the 'Country' and 'Population' columns, excluding any other columns.

Please submit the dataset before our class on Tuesday, as I will utilize it for data visualization purposes. You can also upload the dataset to your GitHub account. I will choose the cleanest and correct dataset for our next training.

In [317]:
import pandas as pd
import numpy as np

In [318]:
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

url2 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

In [319]:
df1=pd.read_html(url1)[1]

In [320]:
df1.head(4)

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,–,World,8046014000,100%,4 Jul 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,335011000,NaN,4 Jul 2023,National population clock[7],[d]

In [321]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country / Dependency                          242 non-null    object
 2   Population                                    242 non-null    int64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    object
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
dtypes: int64(1), object(6)
memory usage: 13.4+ KB

In [322]:
df1['Country / Dependency'] = df1['Country / Dependency'].astype('string')

In [323]:
df1 = df1.rename(columns={'Country / Dependency': 'Country'})

In [324]:
df1['Population']=df1['Population'].astype('float')

In [325]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country                                       242 non-null    string
 2   Population                                    242 non-null    float64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    object
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
dtypes: float64(1), object(5), string(1)
memory usage: 13.4+ KB

In [326]:
df1['Population']=df1['Population'] / 1000000

In [327]:
df1=df1.drop(0, axis=0)

In [328]:
df1['Country'].unique()

<StringArray>
[                                            'China',
                                             'India',
                                     'United States',
                                         'Indonesia',
                                          'Pakistan',
                                           'Nigeria',
                                            'Brazil',
                                        'Bangladesh',
                                            'Russia',
                                            'Mexico',
 ...
 'Saint Helena, Ascension and Tristan da Cunha (UK)',
                                   'Montserrat (UK)',
                             'Falkland Islands (UK)',
                        'Norfolk Island (Australia)',
                      'Christmas Island (Australia)',
                                      'Tokelau (NZ)',
                                              'Niue',
               'Cocos (Keeling) Islands (Australia)',
                                      'Vatican City',
                             'Pitcairn Islands (UK)']
Length: 241, dtype: string

In [329]:
df2=pd.read_html(url2)[1]

In [330]:
df2.head(4)

,Common and formal names,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f]
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em..."
1,Albania – Republic of Albania,NaN,NaN,NaN
2,Algeria – People's Democratic Republic of Algeria,NaN,NaN,NaN
3,Andorra – Principality of Andorra,NaN,NaN,Andorra is a co-principality in which the offi...

In [331]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Common and formal names                                          195 non-null    object
 1   Membership within the UN System[c]                               2 non-null      object
 2   Sovereignty dispute[d]                                           7 non-null      object
 3   Further information on status and recognition of sovereignty[f]  95 non-null     object
dtypes: object(4)
memory usage: 6.2+ KB

In [332]:
df2['Common and formal names'] = df2['Common and formal names'].astype('string')

In [333]:
df2 = df2.rename(columns={'Common and formal names': 'Country'})

In [338]:
df2['Country'].unique()

<StringArray>
[        'Afghanistan',             'Albania',             'Algeria',
             'Andorra',              'Angola', 'Antigua and Barbuda',
           'Argentina',             'Armenia',           'Australia',
             'Austria',
 ...
       'United States',             'Uruguay',          'Uzbekistan',
             'Vanuatu',        'Vatican City',           'Venezuela',
             'Vietnam',               'Yemen',              'Zambia',
            'Zimbabwe']
Length: 195, dtype: string

In [337]:
df2 = df2.replace(to_replace=r'.–.+', value= '', regex=True)

In [341]:
df_merge = pd.merge(df2, df1, on='Country', how='inner')

In [342]:
df_merge

,Country,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f],Unnamed: 0,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em...",41,34.262840,NaN,1 Jan 2023,Official estimate[45],NaN
1,Albania,NaN,NaN,NaN,138,2.793592,NaN,1 Jan 2022,Official estimate[142],NaN
2,Algeria,NaN,NaN,NaN,32,45.400000,NaN,1 Jan 2022,Official estimate[36],NaN
3,Andorra,NaN,NaN,Andorra is a co-principality in which the offi...,185,0.082623,NaN,30 Apr 2023,Official estimate[197],NaN
4,Angola,NaN,NaN,NaN,44,33.086278,NaN,30 Jun 2022,National annual projection[48],NaN
...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,NaN,NaN,"Venezuela is a federation of 23 states, one ca...",51,28.302000,NaN,30 Jun 2019,Official projection[55],NaN
182,Vietnam,NaN,NaN,NaN,15,99.460000,NaN,Dec 2022,Official estimate[19],NaN
183,Yemen,NaN,NaN,NaN,47,31.890000,NaN,1 Jul 2022,Official estimate[51],NaN
184,Zambia,NaN,NaN,NaN,64,19.610769,NaN,14 Sep 2022,2022 census result[68],NaN
185,Zimbabwe,NaN,NaN,NaN,73,15.178979,NaN,20 Apr 2022,2022 census result[77],NaN

In [343]:
df_final = df_merge[['Country', 'Population']]

In [344]:
df_final

         Country  Population
0    Afghanistan   34.262840
1        Albania    2.793592
2        Algeria   45.400000
3        Andorra    0.082623
4         Angola   33.086278
..           ...         ...
181    Venezuela   28.302000
182      Vietnam   99.460000
183        Yemen   31.890000
184       Zambia   19.610769
185     Zimbabwe   15.178979

[186 rows x 2 columns]

In [345]:
df_final.to_csv('country_pop.csv', index=False)