# Assignment 4

**Please follow the instructions**

In [230]:
import datetime
import socket

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 4: Solutions by Nkem Mbachu') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 4: Solutions by Nkem Mbachu
Local Time: 2023-07-04 18:08:02
Computer ID: Nkem

# Objective

The goal of this project to extract World populattion by countries. 
Please extarct data from the following data sources: 

- List of independent and dependency countries: 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'. 
- List of UN recognized countries: 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

# ETL

Task 1:
- Read the first datasets and display the first 4 rows.
- Convert the data types accordingly (e.g., float, string, integer) and perform data cleaning if necessary.
- If the population is given in millions (e.g., Azerbaijan Population 10,000,000), divide it by 1,000,000 to represent it as 10.0.

Task 2:
- Read the second dataframe and display the first 4 rows.
- Adjust the data types of the second dataframe as needed.

Task 3:
- Merge dataframe 1 and dataframe 2 based on the country name. Ensure that the countries have the same name and can be merged together. You can use the following command: `pd.merge(df2, df1, on='Country', how='inner')`.

Task 4:
- Save the merged dataframe as a CSV file and submit it. Include only the 'Country' and 'Population' columns, excluding any other columns.

Please submit the dataset before our class on Tuesday, as I will utilize it for data visualization purposes. You can also upload the dataset to your GitHub account. I will choose the cleanest and correct dataset for our next training.

In [13]:
import pandas as pd

In [258]:
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

url2 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

In [259]:
df1=pd.read_html(url1)[1]

In [260]:
df1.head(4)

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,–,World,8046014000,100%,4 Jul 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,335011000,NaN,4 Jul 2023,National population clock[7],[d]

In [261]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country / Dependency                          242 non-null    object
 2   Population                                    242 non-null    int64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    object
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
dtypes: int64(1), object(6)
memory usage: 13.4+ KB

In [262]:
df1['Country / Dependency'] = df1['Country / Dependency'].astype('string')

In [263]:
df1['Country / Dependency'] = df1.rename(columns={'Country / Dependency': 'Country'}, inplace=True)

In [237]:
df1['Population']=df1['Population'].astype('float')

In [264]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 8 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country                                       242 non-null    string
 2   Population                                    242 non-null    int64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    object
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
 7   Country / Dependency                          0 non-null      object
dtypes: int64(1), object(6), string(1)
memory usage: 15.2+ KB

In [275]:
df1['Population']=df1['Population'] / 1000000

In [277]:
df1

,Unnamed: 0,Country,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6,Country / Dependency
0,–,World,8046.014000,100%,4 Jul 2023,UN projection[3],NaN,None
1,1,China,1411.750000,NaN,31 Dec 2022,Official estimate[4],[b],None
2,2,India,1392.329000,NaN,1 Mar 2023,Official projection[5],[c],None
3,3,United States,335.011000,NaN,4 Jul 2023,National population clock[7],[d],None
4,4,Indonesia,277.749853,NaN,31 Dec 2022,Official estimate[8],NaN,None
...,...,...,...,...,...,...,...,...
237,–,Tokelau (NZ),0.001647,NaN,1 Jan 2019,2019 Census [226],NaN,None
238,–,Niue,0.001549,NaN,1 Jul 2021,National annual projection[101],NaN,None
239,–,Cocos (Keeling) Islands (Australia),0.000593,NaN,30 Jun 2020,2021 Census[227],NaN,None
240,195,Vatican City,0.000246,NaN,26 Jun 2023,Monthly national estimate[228],[af],None
241,–,Pitcairn Islands (UK),0.000047,NaN,1 Jul 2021,Official estimate[229],NaN,None

In [266]:
df2=pd.read_html(url2)[1]

In [267]:
df2.head(4)

,Common and formal names,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f]
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em..."
1,Albania – Republic of Albania,NaN,NaN,NaN
2,Algeria – People's Democratic Republic of Algeria,NaN,NaN,NaN
3,Andorra – Principality of Andorra,NaN,NaN,Andorra is a co-principality in which the offi...

In [284]:
df2

,Country,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f],Common and formal names
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em...",None
1,Albania – Republic of Albania,NaN,NaN,NaN,None
2,Algeria – People's Democratic Republic of Algeria,NaN,NaN,NaN,None
3,Andorra – Principality of Andorra,NaN,NaN,Andorra is a co-principality in which the offi...,None
4,Angola – Republic of Angola,NaN,NaN,NaN,None
...,...,...,...,...,...
190,Venezuela – Bolivarian Republic of Venezuela,NaN,NaN,"Venezuela is a federation of 23 states, one ca...",None
191,Vietnam – Socialist Republic of Vietnam,NaN,NaN,NaN,None
192,Yemen – Republic of Yemen,NaN,NaN,NaN,None
193,Zambia – Republic of Zambia,NaN,NaN,NaN,None
194,Zimbabwe – Republic of Zimbabwe,NaN,NaN,NaN,None

In [268]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Common and formal names                                          195 non-null    object
 1   Membership within the UN System[c]                               2 non-null      object
 2   Sovereignty dispute[d]                                           7 non-null      object
 3   Further information on status and recognition of sovereignty[f]  95 non-null     object
dtypes: object(4)
memory usage: 6.2+ KB

In [269]:
df2['Common and formal names'] = df2['Common and formal names'].astype('string')

In [270]:
df2['Common and formal names'] = df2.rename(columns={'Common and formal names': 'Country'}, inplace=True)

In [282]:
pd.merge(df2, df1, on='Country', how='inner')

,Country,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f],Common and formal names,Unnamed: 0,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6,Country / Dependency
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em...",None,41,34.262840,NaN,1 Jan 2023,Official estimate[45],NaN,None
1,Antigua and Barbuda,NaN,NaN,Antigua and Barbuda is a Commonwealth realm[g]...,None,182,0.100772,NaN,1 Jan 2022,National annual estimate[192],NaN,None
2,Barbados,NaN,NaN,NaN,None,174,0.267800,NaN,31 Dec 2022,Official estimate| [180],NaN,None
3,Belize,NaN,NaN,Belize is a Commonwealth realm.[g],None,168,0.441471,NaN,1 Jul 2022,Official estimate[173],NaN,None
4,Bosnia and Herzegovina,NaN,NaN,Bosnia and Herzegovina has two constituent ent...,None,133,3.277082,NaN,1 Jul 2022,Official estimate[135][136],NaN,None
5,Burkina Faso,NaN,NaN,NaN,None,59,22.185654,NaN,1 Jul 2022,National projection[63],NaN,None
6,Central African Republic,NaN,NaN,NaN,None,113,5.633412,NaN,1 Jul 2020,National annual projection[116],NaN,None
7,Dominican Republic,NaN,NaN,NaN,None,87,10.535535,NaN,1 Jul 2021,National annual projection[91],NaN,None
8,Georgia,NaN,NaN,"Georgia contains two autonomous republics, Adj...",None,130,3.736400,NaN,1 Jan 2023,Official estimate[132],[w],None
9,Grenada,NaN,NaN,Grenada is a Commonwealth realm.[g],None,179,0.112579,NaN,1 Jul 2019,Official estimate[188],NaN,None
10,Hungary,NaN,NaN,Member of the EU.[e],None,92,9.678000,NaN,1 Jan 2023,Official estimate[96],NaN,None
11,Jamaica,NaN,NaN,Jamaica is a Commonwealth realm.[g],None,137,2.825544,NaN,1 Jul 2019,National projection[141],NaN,None
12,Japan,NaN,NaN,NaN,None,11,124.500000,NaN,1 May 2023,Official estimate[15],NaN,None
13,Malaysia,NaN,NaN,Malaysia is a federation of 13 states and thre...,None,45,33.046700,NaN,4 Jul 2023,National population clock[49],NaN,None
14,Mongolia,NaN,NaN,NaN,None,132,3.457548,NaN,31 Dec 2022,National annual projection[134],NaN,None
15,Montenegro,NaN,NaN,NaN,None,164,0.617683,NaN,1 Jan 2022,National annual estimate[169],NaN,None
16,New Zealand,NaN,NaN,"New Zealand is a Commonwealth realm,[g] and ha...",None,121,5.199100,NaN,31 Mar 2023,National quarterly estimate[124],[v],None
17,Romania,NaN,NaN,Member of the EU.[e],None,65,19.053815,NaN,17 Jul 2022,2022 census result[69],NaN,None
18,Saint Lucia,NaN,NaN,Saint Lucia is a Commonwealth realm.[g],None,177,0.178696,NaN,1 Jul 2018,Official estimate[184],NaN,None
19,Saint Vincent and the Grenadines,NaN,NaN,Saint Vincent and the Grenadines is a Commonwe...,None,180,0.110872,NaN,1 Jul 2022,Official estimate[189],NaN,None
20,Solomon Islands,NaN,NaN,Solomon Islands is a Commonwealth realm.[g],None,162,0.728041,NaN,1 Jul 2021,National annual projection[101],NaN,None
21,Turkmenistan,NaN,NaN,NaN,None,109,6.516100,NaN,1 Jul 2023,UN projection[3],NaN,None
22,Tuvalu,NaN,NaN,Tuvalu is a Commonwealth realm.[g],None,194,0.010679,NaN,1 Jul 2021,National annual projection[101],NaN,None
23,Ukraine,NaN,NaN,"Ukraine contains one autonomous region, the Au...",None,36,41.130432,NaN,1 Feb 2022,National monthly estimate[40],[j],None
24,United Arab Emirates,NaN,NaN,The United Arab Emirates is a federation of se...,None,95,9.282410,NaN,31 Dec 2020,Official estimate[99],NaN,None

In [272]:
df_merge

,Country,Membership within the UN System[c],Sovereignty dispute[d],Further information on status and recognition of sovereignty[f],Common and formal names,Unnamed: 0,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6,Country / Dependency
0,Afghanistan,NaN,NaN,"The de facto ruling government, the Islamic Em...",None,41,34262840,NaN,1 Jan 2023,Official estimate[45],NaN,None
1,Antigua and Barbuda,NaN,NaN,Antigua and Barbuda is a Commonwealth realm[g]...,None,182,100772,NaN,1 Jan 2022,National annual estimate[192],NaN,None
2,Barbados,NaN,NaN,NaN,None,174,267800,NaN,31 Dec 2022,Official estimate| [180],NaN,None
3,Belize,NaN,NaN,Belize is a Commonwealth realm.[g],None,168,441471,NaN,1 Jul 2022,Official estimate[173],NaN,None
4,Bosnia and Herzegovina,NaN,NaN,Bosnia and Herzegovina has two constituent ent...,None,133,3277082,NaN,1 Jul 2022,Official estimate[135][136],NaN,None
5,Burkina Faso,NaN,NaN,NaN,None,59,22185654,NaN,1 Jul 2022,National projection[63],NaN,None
6,Central African Republic,NaN,NaN,NaN,None,113,5633412,NaN,1 Jul 2020,National annual projection[116],NaN,None
7,Dominican Republic,NaN,NaN,NaN,None,87,10535535,NaN,1 Jul 2021,National annual projection[91],NaN,None
8,Georgia,NaN,NaN,"Georgia contains two autonomous republics, Adj...",None,130,3736400,NaN,1 Jan 2023,Official estimate[132],[w],None
9,Grenada,NaN,NaN,Grenada is a Commonwealth realm.[g],None,179,112579,NaN,1 Jul 2019,Official estimate[188],NaN,None
10,Hungary,NaN,NaN,Member of the EU.[e],None,92,9678000,NaN,1 Jan 2023,Official estimate[96],NaN,None
11,Jamaica,NaN,NaN,Jamaica is a Commonwealth realm.[g],None,137,2825544,NaN,1 Jul 2019,National projection[141],NaN,None
12,Japan,NaN,NaN,NaN,None,11,124500000,NaN,1 May 2023,Official estimate[15],NaN,None
13,Malaysia,NaN,NaN,Malaysia is a federation of 13 states and thre...,None,45,33046700,NaN,4 Jul 2023,National population clock[49],NaN,None
14,Mongolia,NaN,NaN,NaN,None,132,3457548,NaN,31 Dec 2022,National annual projection[134],NaN,None
15,Montenegro,NaN,NaN,NaN,None,164,617683,NaN,1 Jan 2022,National annual estimate[169],NaN,None
16,New Zealand,NaN,NaN,"New Zealand is a Commonwealth realm,[g] and ha...",None,121,5199100,NaN,31 Mar 2023,National quarterly estimate[124],[v],None
17,Romania,NaN,NaN,Member of the EU.[e],None,65,19053815,NaN,17 Jul 2022,2022 census result[69],NaN,None
18,Saint Lucia,NaN,NaN,Saint Lucia is a Commonwealth realm.[g],None,177,178696,NaN,1 Jul 2018,Official estimate[184],NaN,None
19,Saint Vincent and the Grenadines,NaN,NaN,Saint Vincent and the Grenadines is a Commonwe...,None,180,110872,NaN,1 Jul 2022,Official estimate[189],NaN,None
20,Solomon Islands,NaN,NaN,Solomon Islands is a Commonwealth realm.[g],None,162,728041,NaN,1 Jul 2021,National annual projection[101],NaN,None
21,Turkmenistan,NaN,NaN,NaN,None,109,6516100,NaN,1 Jul 2023,UN projection[3],NaN,None
22,Tuvalu,NaN,NaN,Tuvalu is a Commonwealth realm.[g],None,194,10679,NaN,1 Jul 2021,National annual projection[101],NaN,None
23,Ukraine,NaN,NaN,"Ukraine contains one autonomous region, the Au...",None,36,41130432,NaN,1 Feb 2022,National monthly estimate[40],[j],None
24,United Arab Emirates,NaN,NaN,The United Arab Emirates is a federation of se...,None,95,9282410,NaN,31 Dec 2020,Official estimate[99],NaN,None

In [279]:
df_final = df_merge[['Country', 'Population']]

In [280]:
df_final

                             Country  Population
0                        Afghanistan   34.262840
1                Antigua and Barbuda    0.100772
2                           Barbados    0.267800
3                             Belize    0.441471
4             Bosnia and Herzegovina    3.277082
5                       Burkina Faso   22.185654
6           Central African Republic    5.633412
7                 Dominican Republic   10.535535
8                            Georgia    3.736400
9                            Grenada    0.112579
10                           Hungary    9.678000
11                           Jamaica    2.825544
12                             Japan  124.500000
13                          Malaysia   33.046700
14                          Mongolia    3.457548
15                        Montenegro    0.617683
16                       New Zealand    5.199100
17                           Romania   19.053815
18                       Saint Lucia    0.178696
19  Saint Vincent and the Grenadines    0.110872
20                   Solomon Islands    0.728041
21                      Turkmenistan    6.516100
22                            Tuvalu    0.010679
23                           Ukraine   41.130432
24              United Arab Emirates    9.282410

In [281]:
df_final.to_csv('country_pop.csv', index=False)